* {
  box-sizing: border-box;
}

:root {
  --color-white: #FFFFFF;
  --color-white-light: #F5F5F5;
  --color-white-light-2: #D1D5DB;
  --color-white-light-3: #DCDCDC;
  --background-main: #23252C;
  --color-dark-icon: #1E1F26;
  --color-card-background: #1A1B21;
  --color-dark-foter: #161619;
  --color-light-footer: #D5D4D8;
  --color-light-name: #2B283A;
  --color-dark-footer-icon: #918E9B;
  --color-role: #F3BF99;
  --color-linkedin: #5093E2;
}

body.dark {
  --color-card-background: #F5F5F5;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.App {
  width: 31.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: var(--color-card-background);
}

.info-content {
  text-align: center;
  width: 100%;
}

.profile-picture {
  height: 31.7rem;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background: url('./images/profile.jpg') no-repeat;
  background-size: cover;
}

.profile-name {
  font-size: 2.5rem;
  color: var(--color-white);
  margin-bottom: 0;
}

.role {
  font-size: 1.28rem;
  color: var(--color-role);
  margin: .5rem 0;
}

.site a {
  font-size: 1.024rem;
  color: var(--color-white-light);
  text-decoration: none;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  padding: 0 3rem;
}

.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: .6rem;
  height: 3.4rem;
  width: 11.5rem;
}

.contact-button a {
  text-decoration: none;
}

.button-light {
  background-color: var(--color-white);
}

.button-light a {
  color: var(--color-light-name);
}

.button-light i{
  color: var(--color-dark-icon);
  margin-right: .5rem;
}

.button-dark {
  background-color: var(--color-linkedin);
}

.button-dark a {
  color: var(--color-white);
}

.button-dark i{
  color: var(--color-white);
  margin-right: .5rem;
}

.about {
  margin-top: 2rem;
  padding: 0 3.5rem;
  margin-bottom: 1rem;
}

.about-heading {
  font-size: 1.6rem;
  color: var(--color-white-light);
  margin: 0;
}

.about-text {
  font-size: 1.024rem;
  color: var(--color-white-light-2);
}

.interest {
  padding: 0 3.5rem;
  margin-bottom: 1.5rem;
}

.interest-heading {
  font-size: 1.6rem;
  color: var(--color-white-light);
  margin: 0;
}

.interest-text {
  font-size: 1.024rem;
  color: var(--color-white-light-2);
}

.footer {
  background-color: var(--color-dark-foter);
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.footer-icon a{
  text-decoration: none;
  font-size: 2.5rem;
  margin: 0 1rem;
  color: var(--color-dark-footer-icon);
}

.footer-icon a:hover {
  color: var(--color-white);
  transition: all .5s;
}